---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/config"
import "@/styles/global.css"
import { lerp } from "@samual/lib/lerp"

export type Props = { title: string, description: string }

export function changeTheme() {
	document.documentElement.style.setProperty(
		`--background-colour`,
		`rgb(${generateRandomInteger(15)}, ${generateRandomInteger(31)}, ${generateRandomInteger(15)})`
	)

	const textColourRed = 255 - generateRandomInteger(127)
	const textColourGreen = 255 - generateRandomInteger(63)
	const textColourBlue = 255 - generateRandomInteger(127)

	document.documentElement.style.setProperty(
		`--text-colour`,
		`rgb(${textColourRed}, ${textColourGreen}, ${textColourBlue})`
	)

	document.documentElement.style.setProperty(
		`--title-text-colour`,
		`rgb(${lerp(textColourRed, 255, .5)}, ${lerp(textColourGreen, 255, .5)}, ${lerp(textColourBlue, 255, .5)})`
	)

	function generateRandomInteger(max: number) {
		return Math.floor(Math.random() * (max + 1))
	}
}
---

<!-- Global Metadata -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="generator" content={Astro.generator}/>

<!-- Primary Meta Tags -->
<title>{SITE_TITLE}</title>
<meta name="title" content={SITE_TITLE}/>
<meta name="description" content={SITE_DESCRIPTION}/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website"/>
<meta property="og:url" content={Astro.url}/>
<meta property="og:title" content={SITE_TITLE}/>
<meta property="og:description" content={SITE_DESCRIPTION}/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:url" content={Astro.url}/>
<meta property="twitter:title" content={SITE_TITLE}/>
<meta property="twitter:description" content={SITE_DESCRIPTION}/>

<noscript>
	<style>
		.jsOnly {
			display: none
		}
	</style>
</noscript>

<script>
	import { changeTheme } from "./BaseHead.astro"

	changeTheme()

	addEventListener(`DOMContentLoaded`, () =>
		requestAnimationFrame(() => document.body.style.transition = `250ms ease-in-out`)
	)
</script>
