---
import { SITE_DESCRIPTION, SITE_TITLE } from "../config"
import "../styles/global.css"
import HeaderLink from "./HeaderLink.astro";

export type Props = { title?: string } & astroHTML.JSX.HTMLAttributes

const { title = SITE_TITLE, ...props } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<meta name="generator" content={Astro.generator}/>

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title}/>
		<meta name="description" content={SITE_DESCRIPTION}/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website"/>
		<meta property="og:url" content={Astro.url}/>
		<meta property="og:title" content={title}/>
		<meta property="og:description" content={SITE_DESCRIPTION}/>

		<noscript>
			<style>
				.jsOnly {
					display: none
				}
			</style>
		</noscript>

		<script>
			import { setTheme } from "../lib"

			declare const changeThemeClickable: HTMLAnchorElement
			declare const discordClickable: HTMLAnchorElement

			setTheme()

			addEventListener(`DOMContentLoaded`, () => requestAnimationFrame(() =>
				document.documentElement.style.transition = `background-color 250ms ease-in-out, color 250ms ease-in-out`
			))

			changeThemeClickable.addEventListener(`click`, event => {
				event.preventDefault()
				sessionStorage.clear()
				setTheme()
			})

			discordClickable.addEventListener(`click`, async event => {
				event.preventDefault()
				await navigator.clipboard.writeText(`samualn`)
				alert(`Discord username copied to clipboard`)
				open(`https://discord.com/channels/@me`)
			})
		</script>
	</head>

	<body>
		<div style="flex-grow: 1; min-height: 1em"/>
		
		<header style="margin-bottom: 2em">
			<span style="font-family: monospace; font-size: 1.5em; font-weight: bold; line-height: 0">
				{SITE_TITLE}<br>
				<span aria-hidden="true">{`-`.repeat(SITE_TITLE.length)}</span>
			</span>

			<nav style="display: flex; gap: 1rem; margin: auto; justify-content: center; flex-wrap: wrap">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/projects/">Projects</HeaderLink>
				<HeaderLink href="/blog/">Blog</HeaderLink>
				<HeaderLink href="https://github.com/samualtnorman" target="_blank">GitHub</HeaderLink>
				<HeaderLink href="https://bsky.app/profile/samual.uk" target="_blank">Bluesky</HeaderLink>
			</nav>
		</header>

		<main {...props}><slot/></main>

		<footer style="margin-top: 2em">
			<p>
				Contact: <a href="mailto:me@samual.uk">Email</a>
				<span class="jsOnly"><span aria-hidden="true">|</span> <button id="discordClickable">Discord</button></span>
			</p>

			<p class="jsOnly"><button id="changeThemeClickable">Don't like the colour theme?</button></p>
		</footer>

		<img src="https://ipv4.games/claim?name=samual.uk" hidden="" style="display: none">
		<img src="https://ipv4.quest/claim?name=samual.uk" hidden="" style="display: none">

		<div style="flex-grow: 2"/>
	</body>
</html>
